<div class="alert alert-danger mb-0" role="alert">
    {% if message.title is defined -%}
        <div class="h5">{{ message.title }}</div>
    {%- endif %}
    <div>{{ message.message|raw }}</div>
</div>
