<div class="ui error message" style="margin: 0; border-radius: 0">
    {% if message.title is defined -%}
    <div class="header">{{ message.title }}</div>
    {%- endif %}
    <div>{{ message.message|raw }}</div>
</div>
